<template>
  <!-- ============================================================== -->
  <!-- Bread crumb and right sidebar toggle -->
  <!-- ============================================================== -->
  <div class="row page-titles">
    <div class="col-md-5 align-self-center">
      <h4 class="text-themecolor">{{Sub}}</h4>
    </div>
    <div class="col-md-7 align-self-center text-right">
      <div class="d-flex justify-content-end align-items-center">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="javascript:void(0)">Home</a>
          </li>
          <li class="breadcrumb-item active">{{Sub}}</li>
        </ol>
           <inertia-link  :href="route(Route)" class="btn btn-info d-none d-lg-block m-l-15"> <i class="fa fa-plus-circle"></i>Create New</inertia-link>
      </div>
    </div>
  </div>
  <!-- ============================================================== -->
  <!-- End Bread crumb and right sidebar toggle -->
  <!-- ============================================================== -->
</template>

<script>
export default {
   props: ['Sub', 'Route']
};
</script>

<style>
</style>