<template>
  <!-- ============================================================== -->
  <!-- Left Sidebar - style you can find in sidebar.scss  -->
  <!-- ============================================================== -->
  <div>
    <aside class="left-sidebar">
      <!-- Sidebar scroll-->
      <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
          <ul id="sidebarnav">
            <li class="user-pro">
              <a
                class="has-arrow waves-effect waves-dark"
                href="javascript:void(0)"
                aria-expanded="false"
                ><img
                  src="/assets/images/users/1.jpg"
                  alt="user-img"
                  class="img-circle"
                /><span class="hide-menu">Mark Jeckson</span></a
              >
              <ul aria-expanded="false" class="collapse">
                <li>
                  <a href="javascript:void(0)"
                    ><i class="ti-user"></i> My Profile</a
                  >
                </li>
                <li>
                  <a href="javascript:void(0)"
                    ><i class="ti-wallet"></i> My Balance</a
                  >
                </li>
                <li>
                  <a href="javascript:void(0)"
                    ><i class="ti-email"></i> Inbox</a
                  >
                </li>
                <li>
                  <a href="javascript:void(0)"
                    ><i class="ti-settings"></i> Account Setting</a
                  >
                </li>
                <li>
                  <a href="javascript:void(0)"
                    ><i class="fa fa-power-off"></i> Logout</a
                  >
                </li>
              </ul>
            </li>
            <li class="nav-small-cap">--- PERSONAL</li>
            <li>
              <a class="waves-effect waves-dark" href="index.html"
                ><i class="icon-speedometer"></i
                ><span class="hide-menu">Dashboard</span></a
              >
            </li>
            <li>
              <a
                class="has-arrow waves-effect waves-dark"
                href="javascript:void(0)"
                aria-expanded="false"
                ><i class="ti-layout-grid2"></i
                ><span class="hide-menu">Users</span></a
              >
              <ul aria-expanded="false" class="collapse">
                <li>
                  <inertia-link :href="route('roles.index')"
                    :class="{ active: route().current('roles.index') }">List Roles</inertia-link
                  >
                </li>
                <li>
                  <inertia-link :href="route('users.index')" :class="{ active: route().current('users.index') }"
                    >List Users</inertia-link
                  >
                </li>
              </ul>
            </li>
            <li>
              <a
                class="has-arrow waves-effect waves-dark"
                href="javascript:void(0)"
                aria-expanded="false"
                ><i class="ti-layout-grid2"></i
                ><span class="hide-menu">Categories</span></a
              >
              <ul aria-expanded="false" class="collapse">
                <li>
                  <inertia-link
                    >Client Categiries</inertia-link
                  >
                </li>
                <li>
                  <inertia-link
                    >Contact Categiries</inertia-link
                  >
                </li>
                <li>
                  <inertia-link
                    >Court Categiries</inertia-link
                  >
                </li>
            
              </ul>
            </li>
            <li>
              <a
                class="has-arrow waves-effect waves-dark"
                href="javascript:void(0)"
                aria-expanded="false"
                ><i class="ti-layout-grid2"></i
                ><span class="hide-menu">Client</span></a
              >
              <ul aria-expanded="false" class="collapse">
                <li>
                  <inertia-link
                    >All</inertia-link
                  >
                </li>
              </ul>
            </li>
            <li>
              <a
                class="has-arrow waves-effect waves-dark"
                href="javascript:void(0)"
                aria-expanded="false"
                ><i class="ti-layout-grid2"></i
                ><span class="hide-menu">Opposite Lawyers</span></a
              >
              <ul aria-expanded="false" class="collapse">
                <li>
                  <inertia-link
                    >All</inertia-link
                  >
                </li>
              </ul>
            </li>
            <li>
              <a
                class="has-arrow waves-effect waves-dark"
                href="javascript:void(0)"
                aria-expanded="false"
                ><i class="ti-layout-grid2"></i
                ><span class="hide-menu">Court</span></a
              >
              <ul aria-expanded="false" class="collapse">
                <li>
                  <inertia-link
                    >All</inertia-link
                  >
                </li>
              </ul>
            </li>
            <li>
              <a
                class="has-arrow waves-effect waves-dark"
                href="javascript:void(0)"
                aria-expanded="false"
                ><i class="ti-layout-grid2"></i
                ><span class="hide-menu">Case Stage</span></a
              >
              <ul aria-expanded="false" class="collapse">
                <li>
                  <inertia-link
                    >All</inertia-link
                  >
                </li>
              </ul>
            </li>
            <li>
              <a
                class="has-arrow waves-effect waves-dark"
                href="javascript:void(0)"
                aria-expanded="false"
                ><i class="ti-layout-grid2"></i
                ><span class="hide-menu">Act</span></a
              >
              <ul aria-expanded="false" class="collapse">
                <li>
                  <inertia-link
                    >All</inertia-link
                  >
                </li>
              </ul>
            </li>
            
            <li class="nav-small-cap">--- SUPPORT</li>
            <li>
              <a
                class="waves-effect waves-dark"
                href="../documentation/documentation.html"
                aria-expanded="false"
              >
                <i class="far fa-circle text-danger"></i>
                <span class="hide-menu">Documentation</span>
              </a>
            </li>
            <li>
              <a
                class="waves-effect waves-dark"
                href="pages-login.html"
                aria-expanded="false"
              >
                <i class="far fa-circle text-success"></i>
                <span class="hide-menu">Log Out</span>
              </a>
            </li>
            <li>
              <a
                class="waves-effect waves-dark"
                href="pages-faq.html"
                aria-expanded="false"
              >
                <i class="far fa-circle text-info"></i>
                <span class="hide-menu">FAQs</span>
              </a>
            </li>
          </ul>
        </nav>
        <!-- End Sidebar navigation -->
      </div>
      <!-- End Sidebar scroll-->
    </aside>
    <!-- ============================================================== -->
    <!-- End Left Sidebar - style you can find in sidebar.scss  -->
    <!-- ============================================================== -->
  </div>
</template>

<script>
export default {
  mounted() {
    $(function () {
      var url = window.location;
      console.log(url.href);
      if(url.href !=='http://127.0.0.1:8000/'){

     
      var element = $("ul#sidebarnav a")
        .filter(function () {
          return this.href == url;
        })
        .addClass("active")
        .parent()
        .addClass("active");
      while (true) {
        if (element.is("li")) {
          element = element
            .parent()
            .addClass("in")
            .parent()
            .addClass("active")
            .children("a")
            .addClass("active");
        } else {
          break;
        }
      }
      $("#sidebarnav a").on("click", function (e) {
        if (!$(this).hasClass("active")) {
          // hide any open menus and remove all other classes
          $("ul", $(this).parents("ul:first")).removeClass("in");
          $("a", $(this).parents("ul:first")).removeClass("active");

          // open our new menu and add the open class
          $(this).next("ul").addClass("in");
          $(this).addClass("active");
        } else if ($(this).hasClass("active")) {
          $(this).removeClass("active");
          $(this).parents("ul:first").removeClass("active");
          $(this).next("ul").removeClass("in");
        }
      });
      $("#sidebarnav >li >a.has-arrow").on("click", function (e) {
        e.preventDefault();
      });
      }
    });
     
  },
}
</script>

<style scoped>
.nav-small-cap {
  padding: 0 !important;
}
</style>