<template>
  <layout>
    <BreadCumb Route="roles.create" Sub="Roles" />

    <div class="row">
      <!-- Column -->
      <div class="col-lg-12 col-md-12">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">List Roles</h5>
            <div class="row">
              <div class="col-sm-12">
                  <button @click="show" class="btn btn-primary">
                    sadsadsad
                  </button>
                  <div class="row mt-5">
                    <div class="table-responsive">
                      <table class="table color-bordered-table red-bordered-table">
                      <!-- <table class="table color-table danger-table"> -->
                        <thead>
                          <tr>
                            <th>#</th>
                            <th>Role Name</th>
                            <th>Permissions</th>
                          </tr>
                        </thead>
                        <tbody>
                          
                          <tr v-for="role in roles" :key="role.id">
                            <td>1</td>
                            <td>{{role.name}}</td>
                            <td ><span class="badge badge-pill badge-info" v-for="permission in role.permissions" :key="permission.id">{{permission.name}}</span></td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Column -->
    </div>
  </layout>
</template>


<script>
import Layout from "@/Pages/Admin/Layouts/AdminAppLayout.vue";
import BreadCumb from "../Layouts/BreadCumb.vue";

export default {
  components: {
    Layout,
    BreadCumb,
    // RightSideBar,
    // DataTable,
  },

  props: ["roles"],

  data() {
    return {
      
    };
  },
  mounted() {
    // console.log(this.permissions);

    $("#mytable tbody").on("click", "tr .action_delete", (evt) => {
      const data = $(evt.target).data("userId"); //data-user-id
      this.delete(data);
    });
    $("#mytable tbody").on("click", "tr .action_edit", (evt) => {
      const data = $(evt.target).data("userId");
      this.$inertia.visit(route("roles.edit", data));
    });

    $("#mytable tbody").on("click", "tr .action_status_change", (evt) => {
      const data = $(evt.target).data("userId");
      this.updateStatus(data);
    });
  },
  methods: {
    show() {
      console.log("sadsa");
      this.$root.show_swal("Role Created!", "success");
    },
    reloadTable() {
      this.$refs.datatable.reloadDatatable();
    },

    delete(id) {
      this.$root.delete_alert(
        "roles.delete",
        this.form,
        id,
        this.$refs.datatable
      );
    },

    updateStatus(id) {
      this.form.id = id;
      this.form.put(route("providers.change.status"), {
        // errorBag: 'submit',
        preserveScroll: true,
        onSuccess: () => {
          this.form.reset();
          this.reloadTable();
          return this.$root.show_swal("Status Updated", "success");
        },
        onError: () => {
          return this.$root.show_swal("Something went wrong!", "error");
        },
      });
    },
  },
};
</script>
