<template>
    <div class="form-groupa mb-1" :class="rowclass" >
        <label for="lable">{{lable}} <code v-if="required" >*</code></label>
        <input class="form-control" :type="type" :class="customclass" v-mask="mask" :value="value" @input="$emit('input', $event.target.value)" :maxlength="maxlength" :placeholder="placeholder" ref="input">
        <span v-if="error" class="text-danger">{{error}}</span>
    </div>
</template>
<script>
    export default {
        props: ['value','placeholder','customclass','type','lable','error','rowclass','required','maxlength','mask'],

        methods: {
            focus() {
                this.$refs.input.focus()
            }
        }
    }
</script>

