<template>
  <layout>
  
         <BreadCumb Route="users.create" Sub="Users"/>

    <div class="row">
      <!-- Column -->
      <div class="col-lg-12 col-md-12">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">List Users</h5>
            <div class="row">
              <div class="col-sm-12">
                  <div class="row mt-5">
                    <div class="table-responsive">
                      <table class="table color-bordered-table red-bordered-table">
                        <thead>
                          <tr>
                            <th>#</th>
                            <th>User Name</th>
                            <th>Email</th>
                            <th>Role</th>
                          </tr>
                        </thead>
                        <tbody>
                          
                          <tr v-for="user in users" :key="user.id">
                            <td>{{user.id}}</td>
                            <td>{{user.name}}</td>
                            <td>{{user.email}}</td>
                            <td ><span class="badge badge-pill badge-info" v-for="role in user.roles" :key=role.id>{{role.name}}</span></td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Column -->
    </div>
  </layout>
</template>


<script>
import Layout from "@/Pages/Admin/Layouts/AdminAppLayout.vue";
import BreadCumb from '../Layouts/BreadCumb.vue';

export default {
  components: {
    Layout,
    BreadCumb,
    // RightSideBar,
    // DataTable,
  },

  props: ["users"],

  data() {
    return {
      columns: [
        { data: "action", name: "action", orderable: false, searchable: false },
        { data: "id", name: "id", orderable: true },
        { data: "name", name: "name", orderable: true },
        // { data: 'permissions', name: 'permissions', orderable: true },
        // { data: null, name: 'permissions', orderable: true ,
        //     render: () => {
        //         this.permissions.forEach(perm => {
        //             return 1
        //         })
        //     }
        // },
      ],

      columnDefs: [{ className: "text-center", targets: [0, 1] }],
      order: [[1, "desc"]],

      form: this.$inertia.form({
        id: "",
      }),
    };
  },
  mounted() {
    // console.log(this.permissions);

    $("#mytable tbody").on("click", "tr .action_delete", (evt) => {
      const data = $(evt.target).data("userId"); //data-user-id
      this.delete(data);
    });
    $("#mytable tbody").on("click", "tr .action_edit", (evt) => {
      const data = $(evt.target).data("userId");
      this.$inertia.visit(route("roles.edit", data));
    });

    $("#mytable tbody").on("click", "tr .action_status_change", (evt) => {
      const data = $(evt.target).data("userId");
      this.updateStatus(data);
    });
  },
  methods: {
    reloadTable() {
      this.$refs.datatable.reloadDatatable();
    },

    delete(id) {
      this.$root.delete_alert(
        "roles.delete",
        this.form,
        id,
        this.$refs.datatable
      );
    },

    updateStatus(id) {
      this.form.id = id;
      this.form.put(route("providers.change.status"), {
        // errorBag: 'submit',
        preserveScroll: true,
        onSuccess: () => {
          this.form.reset();
          this.reloadTable();
          return this.$root.show_swal("Status Updated", "success");
        },
        onError: () => {
          return this.$root.show_swal("Something went wrong!", "error");
        },
      });
    },
  },
};
</script>
